name: Deployment
on:
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: npm ci
      - run: npm run test
  build:
    # needs: test
    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x]
        operating-system: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.operating-system }}
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies and build
        id: build
        run: npm ci
      - name: Build project
        if: ${{ steps.build.outcome == 'success' }}
        run: npm run build
      - name: job artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: dist/
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifacts
      - name: Check files of artifact
        run: ls 
      - name: Deploy
        run: echo "Deploying project..."
