name: Deployment
on:
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: npm ci
      - run: npm run test
  build:
    # needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies and build
        id: build
      - run: npm ci
        if: ${{ steps.build.outcome == 'failure' }}
      - run: npm run build
      - name: job artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: dist/
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifacts
      - name: Check files of artifact
        run: ls 
      - name: Deploy
        run: echo "Deploying project..."
